out/
*.py[cod]
__pycache__
*.s
.vscode/
driver/xdnn_conv.h
*.log
*.inc
*_bak
*.txt
config/igemm_*_gtc_gfx908_fp16_fail.config
script/gtc_conv_model_fp16_fail.sh
*.xml
sqtt_out/
*.csv
.gitignore
config/fp16-configs/
*.o
