
[codegen]
arch = 'gfx908'
code_object = 'cov3'
mode = 'flat'


#GPU aborted
[igemm_bwd_gtc]
gemm_m_per_block         = 64
gemm_n_per_block         = 16
gemm_k_per_block         = 16
wave_tile_m              = 64
wave_step_m              = 1
wave_repeat_m            = 1
wave_tile_n              = 4
wave_step_n              = 1
wave_repeat_n            = 1
tensor_a_thread_lengths  = [1,  1, 4,  1]      # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1, 16,  1,  16]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [1,  1,  1,  1]      # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1, 16,  1,  16]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
#allow_lds_reorder        = 1


#GPU aborted
[igemm_bwd_gtc]
gemm_m_per_block         = 16
gemm_n_per_block         = 64
gemm_k_per_block         = 16
wave_tile_m              = 4
wave_step_m              = 1
wave_repeat_m            = 1
wave_tile_n              = 64
wave_step_n              = 1
wave_repeat_n            = 1
tensor_a_thread_lengths  = [1,  1, 1,  1]      # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1, 16,  1,  16]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [1,  1,  4,  1]      # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1, 16,  1,  16]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
#allow_lds_reorder        = 1

#GPU aborted
[igemm_bwd_gtc]
gemm_m_per_block         = 64
gemm_n_per_block         = 8
gemm_k_per_block         = 16
wave_tile_m              = 64
wave_step_m              = 1
wave_repeat_m            = 1
wave_tile_n              = 4
wave_step_n              = 1
wave_repeat_n            = 1
tensor_a_thread_lengths  = [1,  1, 8,  1]      # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1, 16,  1,  8]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [1,  1,  1,  1]      # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1, 16,  1,  8]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
#allow_lds_reorder       = 1

#GPU aborted
[igemm_bwd_gtc]
gemm_m_per_block         = 8
gemm_n_per_block         = 64
gemm_k_per_block         = 16
wave_tile_m              = 4
wave_step_m              = 1
wave_repeat_m            = 1
wave_tile_n              = 64
wave_step_n              = 1
wave_repeat_n            = 1
tensor_a_thread_lengths  = [1,  1, 1,  1]      # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1, 16,  1,  8]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [1,  1,  8,  1]      # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1, 16,  1,  8]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
#allow_lds_reorder       = 1


#./out/conv_driver.exe conv -n 128 -c 1024 -H 8 -W 8 -k 1024 -y 1 -x 1 -p 0 -q 0 -u 1 -v 1 -l 1 -j 1 -F 2
#no current buffer_load_dwordx4 is genrated.
#valid n
[igemm_bwd_gtc]
gemm_m_per_block         = 256
gemm_n_per_block         = 128
gemm_k_per_block         = 16
wave_tile_m              = 64
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 32
wave_step_n              = 1
wave_repeat_n            = 2
tensor_a_thread_lengths  = [4,  1,  1,  4]      # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1,  4,  1, 64]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [4,  1,  1,  2]      # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1,  4,  1, 64]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 4
nxe                      = 1


#buffer_load_dwordx2, failed
#valid n
[igemm_bwd_gtc]
gemm_m_per_block         = 256
gemm_n_per_block         = 128
gemm_k_per_block         = 16
wave_tile_m              = 64
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 32
wave_step_n              = 1
wave_repeat_n            = 2
tensor_a_thread_lengths  = [2,  1,  8,  1]      # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1,  8,  1, 32]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [2,  1,  1,  4]      # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1,  8,  1, 32]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 4
nxe                      = 1
