[codegen]
arch = 'gfx908'
code_object = 'cov3'
mode = 'flat'

[igemm_wrw_gtc]
gemm_m_per_block         = 32
gemm_n_per_block         = 32
gemm_k_per_block         = 32
wave_tile_m              = 16
wave_step_m              = 1
wave_repeat_m            = 1
wave_tile_n              = 16
wave_step_n              = 1
wave_repeat_n            = 1
wave_tile_k              = 1
tensor_a_thread_lengths  = [1,  1,  4,  1]      # N0xN1BxK0xK1
tensor_a_cluster_lengths = [1,  32,  1, 8]      # N0xN1BxK0xK1
tensor_b_thread_lengths  = [1,  1,  4,  1]      # N0xN1BxC0xC1E
tensor_b_cluster_lengths = [1,  32,  1, 8]      # N0xN1BxC0xC1E
direction                = 'wrw'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
gemm_k_global_split      = 1

[igemm_wrw_gtc]
gemm_m_per_block         = 32
gemm_n_per_block         = 32
gemm_k_per_block         = 32
wave_tile_m              = 16
wave_step_m              = 1
wave_repeat_m            = 1
wave_tile_n              = 16
wave_step_n              = 1
wave_repeat_n            = 1
wave_tile_k              = 4
tensor_a_thread_lengths  = [1,  1,  4,  1]      # N0xN1BxK0xK1
tensor_a_cluster_lengths = [1,  32,  1, 8]      # N0xN1BxK0xK1
tensor_b_thread_lengths  = [1,  1,  4,  1]      # N0xN1BxC0xC1E
tensor_b_cluster_lengths = [1,  32,  1, 8]      # N0xN1BxC0xC1E
direction                = 'wrw'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
gemm_k_global_split      = 1

[igemm_wrw_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 16
wave_tile_m              = 32
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 32
wave_step_n              = 1
wave_repeat_n            = 2
tensor_a_thread_lengths  = [1,  1,  8,  1]      # N0xN1BxK0xK1
tensor_a_cluster_lengths = [1,  16,  1, 16]      # N0xN1BxK0xK1
tensor_b_thread_lengths  = [1,  1,  8,  1]      # N0xN1BxC0xC1E
tensor_b_cluster_lengths = [1,  16,  1, 16]      # N0xN1BxC0xC1E
direction                = 'wrw'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
gemm_k_global_split      = 1

[igemm_wrw_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 16
wave_tile_m              = 32
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 32
wave_step_n              = 1
wave_repeat_n            = 2
wave_tile_k              = 2
tensor_a_thread_lengths  = [1,  1,  8,  1]      # N0xN1BxK0xK1
tensor_a_cluster_lengths = [1,  16,  1, 16]      # N0xN1BxK0xK1
tensor_b_thread_lengths  = [1,  1,  8,  1]      # N0xN1BxC0xC1E
tensor_b_cluster_lengths = [1,  16,  1, 16]      # N0xN1BxC0xC1E
direction                = 'wrw'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
gemm_k_global_split      = 1
