[codegen]
arch = 'gfx908'
code_object = 'cov3'
mode = 'flat'

#--------------------------- 256x16
[igemm_fwd_gtc]
gemm_m_per_block         = 256
gemm_n_per_block         = 16
gemm_k_per_block         = 16
wave_tile_m              = 64
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 4
wave_step_n              = 1
wave_repeat_n            = 2
tensor_a_thread_lengths  = [1,  4,  4,  1]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1,  4,  1, 64]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1,  1,  1,  1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  16, 1, 16]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 1                    
nxe                      = 1

#--------------------------- 256x16
[igemm_fwd_gtc]
gemm_m_per_block         = 256
gemm_n_per_block         = 16
gemm_k_per_block         = 16
wave_tile_m              = 64
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 4
wave_step_n              = 1
wave_repeat_n            = 2
tensor_a_thread_lengths  = [1,  2,  8,  1]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1,  8,  1, 32]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1,  1,  1,  1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  16, 1, 16]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1

#--------------------------- 256x16
[igemm_fwd_gtc]
gemm_m_per_block         = 256
gemm_n_per_block         = 16
gemm_k_per_block         = 16
wave_tile_m              = 64
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 4
wave_step_n              = 1
wave_repeat_n            = 2
tensor_a_thread_lengths  = [1,  1,  16,  1]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1,  16, 1, 16]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1,  1,  1,  1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  16, 1, 16]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1

