[codegen]
arch = 'gfx1030'
code_object = 'cov3'
mode = 'flat'

#########################################################################################
#--------------------------- 128x128x32
[igemm_fwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 32
lanegroup_tile_m         = 8
lanegroup_wave_m         = 4
lanegroup_repeat_m       = 2
lanegroup_tile_n         = 8
lanegroup_wave_n         = 2
lanegroup_repeat_n       = 4
tensor_a_thread_lengths  = [1, 8, 2, 1]       # ExCxNB0xNB1
tensor_a_cluster_lengths = [1, 4, 1, 64]      # ExCxNB0xNB1
tensor_b_thread_lengths  = [1, 8, 2, 1]       # ExCxK0xK1
tensor_b_cluster_lengths = [1, 4, 1, 64]      # ExCxK0XK1
direction                = "fwd"
precision                = "fp16"
tensor_layout            = 'nhwc'
nxb                      = 0
nxe                      = 1
