[codegen]
arch = 'gfx1030'
code_object = 'cov3'
mode = 'flat'

#########################################################################################
#--------------------------- 128x128x32
[igemm_fwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 32
gemm_m_per_thread        = 4
gemm_m_level0_cluster    = 4
gemm_m_level1_cluster    = 4
gemm_n_per_thread        = 4
gemm_n_level0_cluster    = 4
gemm_n_level1_cluster    = 4
tensor_a_thread_lengths  = [1, 1, 1, 16]       # 1xCEx1xK/Vec-c
tensor_a_cluster_lengths = [1, 4, 1, 64]       # 1xCEx1xK
tensor_b_thread_lengths  = [1, 1, 2,  8]       # 1xCExNB0xVec-c
tensor_b_cluster_lengths = [1, 4, 1, 64]       # 1xCEx1xNB1
direction                = "fwd"
precision                = "fp16"
tensor_layout            = 'nchwc'
nxb                      = 0
nxe                      = 1
wavefront_size           = 64
cumode                   = 0
merge_e                  = 1
vector_c                 = 8
