[codegen]
arch = 'gfx906'
code_object = 'cov3'
mode = 'seq'

# v4r1 config #0
[v4r1_dynamic_kernel]
precision = 'fp32'
micro_tile_m = [4, 8]
micro_tile_n = [4, 8]
macro_tile_m = [16, 32, 64, 128, 256]
macro_tile_n = [16, 32, 64, 128, 256]
unroll_k = [8, 16, 32]
block_size = [64, 128, 256]
lds_buffers = [1, 2]
