[codegen]
arch = 'gfx906'
code_object = 'cov3'
mode = 'flat'

[igemm_bwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 16
gemm_m_per_thread        = 4
gemm_m_level0_cluster    = 4
gemm_m_level1_cluster    = 4
gemm_n_per_thread        = 4
gemm_n_level0_cluster    = 4
gemm_n_level1_cluster    = 4
tensor_a_thread_lengths  = [2,  1,  4,  1]      # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1,  8,  1, 32]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [2,  1,  4,  1]      # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1,  8,  1, 32]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1

[igemm_bwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 16
gemm_m_per_thread        = 4
gemm_m_level0_cluster    = 4
gemm_m_level1_cluster    = 4
gemm_n_per_thread        = 4
gemm_n_level0_cluster    = 4
gemm_n_level1_cluster    = 4
tensor_a_thread_lengths  = [4,  1,  2,  1]       # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1,  4,  1,  64]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [4,  1,  2,  1]       # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1,  4,  1,  64]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1

[igemm_bwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 16
gemm_m_per_thread        = 4
gemm_m_level0_cluster    = 4
gemm_m_level1_cluster    = 4
gemm_n_per_thread        = 4
gemm_n_level0_cluster    = 4
gemm_n_level1_cluster    = 4
tensor_a_thread_lengths  = [4,  1,  2,  1]       # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1,  4,  1,  64]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [4,  1,  2,  1]       # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1,  4,  1,  64]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
multihead                = 1

[igemm_bwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 16
gemm_m_per_thread        = 4
gemm_m_level0_cluster    = 4
gemm_m_level1_cluster    = 4
gemm_n_per_thread        = 4
gemm_n_level0_cluster    = 4
gemm_n_level1_cluster    = 4
tensor_a_thread_lengths  = [8,  1,  1,  1]       # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1,  2,  1,  128]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [8,  1,  1,  1]       # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1,  2,  1,  128]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1

[igemm_bwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 16
gemm_m_per_thread        = 4
gemm_m_level0_cluster    = 4
gemm_m_level1_cluster    = 4
gemm_n_per_thread        = 4
gemm_n_level0_cluster    = 4
gemm_n_level1_cluster    = 4
tensor_a_thread_lengths  = [8,  1,  1,  1]       # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1,  2,  1,  128]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [8,  1,  1,  1]       # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1,  2,  1,  128]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1
multihead                = 1

[igemm_bwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 128
gemm_k_per_block         = 16
gemm_m_per_thread        = 4
gemm_m_level0_cluster    = 4
gemm_m_level1_cluster    = 4
gemm_n_per_thread        = 4
gemm_n_level0_cluster    = 4
gemm_n_level1_cluster    = 4
tensor_a_thread_lengths  = [1,  1,  8,  1]       # K0xK1ExC0xC1
tensor_a_cluster_lengths = [1,  16,  1,  16]      # K0xK1ExC0xC1
tensor_b_thread_lengths  = [1,  1,  8,  1]       # K0xK1ExN0xN1B
tensor_b_cluster_lengths = [1,  16,  1,  16]      # K0xK1ExN0xN1B
direction                = 'bwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1