[codegen]
arch = 'gfx908'
code_object = 'cov3'
mode = 'seq'

# options
# lmk : least multiplier of k. k_per_block // k_per_inst >= lmk, k_per_inst is mfma instruction k

# generic tensor contraction config
[igemm_gtc]
precision           = 'fp32'
layout              = 'nchw'
#direction           = ['fwd', 'bwd', 'wrw']
direction           = 'fwd'
gemm_m_per_block    = [4, 8, 16, 32, 64, 128, 256]
gemm_n_per_block    = [4, 8, 16, 32, 64, 128, 256]
gemm_k_per_block    = [8, 16, 32]
options             = { "lmk" = 4 }
