[codegen]
arch = 'gfx908'
code_object = 'cov3'
mode = 'seq'

# options
# lmk : least multiplier of k. k_per_block // k_per_inst >= lmk, k_per_inst is mfma instruction k
# cgt : if enable, cluster length should greater than (or equal to) thread length. in almost all situation, 
#       performance is better compare with cluster length smaller than thread length

# generic tensor contraction config
[igemm_gtc]
precision           = 'fp32'
layout              = 'nchw'
#direction           = ['fwd', 'bwd', 'wrw']
direction           = 'bwd'
gemm_m_per_block    = [4, 8, 16, 32, 64, 128, 256]
gemm_n_per_block    = [4, 8, 16, 32, 64, 128, 256]
gemm_k_per_block    = [8, 16, 32]
options             = { "lmk" = 4, "cgt" = 1 }
