[codegen]
arch = 'gfx906'
code_object = 'cov3'
mode = 'flat'

# v4r1 config #0
[v4r1_dynamic_kernel]
b_per_block             = 16
k_per_block             = 128
e_per_block             = 16
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 4
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 16
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 16
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 64

# v4r1 config #1
[v4r1_dynamic_kernel]
b_per_block             = 16
k_per_block             = 128
e_per_block             = 8
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 4
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 8
in_block_copy_cluster_lengths_n1    = 2
in_block_copy_cluster_lengths_b     = 16
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 2
wei_block_copy_cluster_lengths_k    = 128

# v4r1 config #2
[v4r1_dynamic_kernel]
b_per_block             = 8
k_per_block             = 128
e_per_block             = 8
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 4
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 2
in_block_copy_cluster_lengths_e     = 8
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 8
in_block_copy_cluster_lengths_n2    = 2
wei_block_copy_cluster_lengths_e    = 2
wei_block_copy_cluster_lengths_k    = 64

# v4r1 config #3
[v4r1_dynamic_kernel]
b_per_block             = 8
k_per_block             = 64
e_per_block             = 8
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 4
gemm_n_level0_cluster   = 2
gemm_m_level1_cluster   = 2
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 8
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 8
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 16

# v4r1 config #4
[v4r1_dynamic_kernel]
b_per_block             = 16
k_per_block             = 32
e_per_block             = 4
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 1
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 4
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 16
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 16

# v4r1 config #5
[v4r1_dynamic_kernel]
b_per_block             = 16
k_per_block             = 16
e_per_block             = 4
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 2
gemm_n_per_thread_subc  = 2
gemm_m_level0_cluster   = 2
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 2
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 4
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 16
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 16

# v4r1 config #6
[v4r1_dynamic_kernel]
b_per_block             = 8
k_per_block             = 32
e_per_block             = 4
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 2
gemm_n_per_thread_subc  = 2
gemm_m_level0_cluster   = 2
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 2
in_block_copy_cluster_lengths_e     = 4
in_block_copy_cluster_lengths_n1    = 2
in_block_copy_cluster_lengths_b     = 8
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 16

# 1x1 kernels
# v4r1 config #7
[v4r1_1x1_dynamic_kernel]
b_per_block             = 16
k_per_block             = 128
e_per_block             = 16
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 4
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 16
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 16
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 64

# v4r1 config #8
[v4r1_1x1_dynamic_kernel]
b_per_block             = 16
k_per_block             = 128
e_per_block             = 8
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 4
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 8
in_block_copy_cluster_lengths_n1    = 2
in_block_copy_cluster_lengths_b     = 16
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 2
wei_block_copy_cluster_lengths_k    = 128

# v4r1 config #9
[v4r1_1x1_dynamic_kernel]
b_per_block             = 8
k_per_block             = 128
e_per_block             = 8
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 4
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 2
in_block_copy_cluster_lengths_e     = 8
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 8
in_block_copy_cluster_lengths_n2    = 2
wei_block_copy_cluster_lengths_e    = 2
wei_block_copy_cluster_lengths_k    = 64

# v4r1 config #10
[v4r1_1x1_dynamic_kernel]
b_per_block             = 8
k_per_block             = 64
e_per_block             = 8
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 4
gemm_n_level0_cluster   = 2
gemm_m_level1_cluster   = 2
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 8
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 8
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 16

# v4r1 config #11
[v4r1_1x1_dynamic_kernel]
b_per_block             = 16
k_per_block             = 32
e_per_block             = 4
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 4
gemm_n_per_thread_subc  = 4
gemm_m_level0_cluster   = 1
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 4
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 16
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 16

# v4r1 config #12
[v4r1_1x1_dynamic_kernel]
b_per_block             = 16
k_per_block             = 16
e_per_block             = 4
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 2
gemm_n_per_thread_subc  = 2
gemm_m_level0_cluster   = 2
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 2
gemm_n_level1_cluster   = 4
in_block_copy_cluster_lengths_e     = 4
in_block_copy_cluster_lengths_n1    = 1
in_block_copy_cluster_lengths_b     = 16
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 16

# v4r1 config #6
[v4r1_1x1_dynamic_kernel]
b_per_block             = 8
k_per_block             = 32
e_per_block             = 4
gemm_n_repeat           = 2
gemm_m_per_thread_subc  = 2
gemm_n_per_thread_subc  = 2
gemm_m_level0_cluster   = 2
gemm_n_level0_cluster   = 4
gemm_m_level1_cluster   = 4
gemm_n_level1_cluster   = 2
in_block_copy_cluster_lengths_e     = 4
in_block_copy_cluster_lengths_n1    = 2
in_block_copy_cluster_lengths_b     = 8
in_block_copy_cluster_lengths_n2    = 1
wei_block_copy_cluster_lengths_e    = 4
wei_block_copy_cluster_lengths_k    = 16