[codegen]
arch = 'gfx908'
code_object = 'cov3'
mode = 'seq'

# options
# lmk : least multiplier of k. k_per_block // k_per_inst >= lmk, k_per_inst is mfma instruction k
# cgt : if enable, cluster length should greater than (or equal to) thread length. in almost all situation, 
#       performance is better compare with cluster length smaller than thread length
# exv : if nxe is not zero, do not generate vector load for input/output. valid in fwd and bwd
# bev : if nxe is zero, only generate vector load when nxb = 2, 4, 8. or, vector load <= nxb
#       in almost all situation, if nxb = 1 and do vector load like 4, performance is not good.
#

# generic tensor contraction config
[igemm_gtc]
precision           = 'fp32'
layout              = 'nchw'
direction           = 'fwd'
gemm_m_per_block    = [4, 8, 16, 32, 64, 128, 256]
gemm_n_per_block    = [4, 8, 16, 32, 64, 128, 256]
gemm_k_per_block    = [8, 16, 32]
options             = { "lmk" = 4, "cgt" = 1, "exv" = 1, "bev" = 1 }
