
[codegen]
arch = 'gfx908'
code_object = 'cov3'
mode = 'flat'

# igemm_fwd_gtcx_nchw_fp32_bx1_ex0_bt32x128x32_wt8x32_ws1x1_wr2x2_ta1x4x1x1_1x8x1x32_tb1x16x1x1_1x2x1x128
[igemm_fwd_gtc]
gemm_m_per_block         = 32
gemm_n_per_block         = 128
gemm_k_per_block         = 32
wave_tile_m              = 8
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 32
wave_step_n              = 1
wave_repeat_n            = 2
tensor_a_thread_lengths  = [1,  4,  1,   1]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1,  8,  1,  32]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1,  16,  1,   1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  2,  1, 128]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 0

# igemm_fwd_gtcx_nchw_fp32_bx1_ex0_bt128x64x32_wt32x8_ws1x2_wr2x2_ta1x4x1x4_1x8x1x32_tb1x8x1x1_1x4x1x64
[igemm_fwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 64
gemm_k_per_block         = 32
wave_tile_m              = 32
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 8
wave_step_n              = 2
wave_repeat_n            = 2
tensor_a_thread_lengths  = [1,  4,  1,   4]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1,  8,  1,  32]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1,  8,  1,   1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  4,  1,  64]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 0

# igemm_fwd_gtcx_nchw_fp32_bx1_ex1_bt128x64x32_wt32x8_ws1x2_wr2x2_ta1x4x1x4_1x8x1x32_tb1x8x1x1_1x4x1x64
[igemm_fwd_gtc]
gemm_m_per_block         = 128
gemm_n_per_block         = 64
gemm_k_per_block         = 32
wave_tile_m              = 32
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 8
wave_step_n              = 2
wave_repeat_n            = 2
tensor_a_thread_lengths  = [1,  4,  1,   4]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1,  8,  1,  32]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1,  8,  1,   1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  4,  1,  64]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 1

# igemm_fwd_gtcx_nchw_fp32_bx1_ex0_bt64x64x64_wt16x16_ws1x1_wr2x2_ta1x4x1x4_1x16x1x16_tb1x16x1x1_1x4x1x64
[igemm_fwd_gtc]
gemm_m_per_block         = 64
gemm_n_per_block         = 64
gemm_k_per_block         = 64
wave_tile_m              = 16
wave_step_m              = 1
wave_repeat_m            = 2
wave_tile_n              = 16
wave_step_n              = 1
wave_repeat_n            = 2
tensor_a_thread_lengths  = [1,  4,  1,   4]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1, 16,  1,  16]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1, 16,  1,   1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  4,  1,  64]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 0

#-------------------------------- 64x128
[igemm_fwd_gtc]
gemm_m_per_block         = 64
gemm_n_per_block         = 128
gemm_k_per_block         = 32
wave_tile_m              = 8
wave_step_m              = 2
wave_repeat_m            = 2
wave_tile_n              = 32
wave_step_n              = 1
wave_repeat_n            = 2
tensor_a_thread_lengths  = [1,  4,  1,   2]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1,  8,  1,  32]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1, 16,  1,   1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  2,  1,  128]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 1
nxe                      = 0

