[codegen]
arch = 'gfx908'
code_object = 'cov3'
mode = 'flat'

## added for supporting mask-rcnn
#-------------------------------- 4x64 
[igemm_fwd_gtc]
gemm_m_per_block         = 4
gemm_n_per_block         = 64
gemm_k_per_block         = 16 
wave_tile_m              = 4
wave_step_m              = 1
wave_repeat_m            = 1
wave_tile_n              = 64
wave_step_n              = 1
wave_repeat_n            = 1
tensor_a_thread_lengths  = [1,  1,  1,  1]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1,  16, 1,  4]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1,  8,  2,  1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  2,  1, 32]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 32
nxe                      = 0

## added for supporting mask-rcnn
#-------------------------------- 4x64
[igemm_fwd_gtc]
gemm_m_per_block         = 4
gemm_n_per_block         = 64
gemm_k_per_block         = 16
wave_tile_m              = 4
wave_step_m              = 1
wave_repeat_m            = 1
wave_tile_n              = 64
wave_step_n              = 1
wave_repeat_n            = 1
tensor_a_thread_lengths  = [1,  1,  1,  1]      # C0xC1ExK0xK1
tensor_a_cluster_lengths = [1, 16,  1,  4]      # C0xC1ExK0xK1
tensor_b_thread_lengths  = [1, 16,  1,  1]      # C0xC1ExN0xN1B
tensor_b_cluster_lengths = [1,  1,  1, 64]      # C0xC1ExN0xN1B
direction                = 'fwd'
precision                = 'fp32'
nxb                      = 64 
nxe                      = 0

